body {
    font-family: 'Poppins', sans-serif;
    color: #8bd5ee;
    background-color: black;
}
.grid-container {
    display: grid;
    gap: .5em;
    grid-template-columns: 2fr 4fr 2fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}
.sidebar {
    height: 100vh;
    background-color: #085a73;
    border: 5px solid #7b2941;
    border-radius: 20px;
}
.game-container {
    background-color: #085a73;
    border: 5px solid #c5395a;
    border-radius: 20px;
}

.select-game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: xx-large;
    margin: 15px;
    text-align: center;
}
p {
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

li {
    font-size: small;
    padding-right: 10px;
}

img {
    width: 120px;
    margin: auto;
}

img:hover{
    cursor: pointer;
}

#classic {
    height: 230px;
}

.game-mode-card:hover {
    cursor: pointer;
    border: 5px solid black;
}

.game-mode-card {
    width: 420px;
    height: 285px;
    margin-bottom: 20px;
    background-color: #7b2941;
    border-radius: 20px;
}

.grid-container-sprites {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
  }

  #geodude {
    grid-column: 3;
    margin-top: 70px;
  }